
{{#if empty}}
    <h2>Movie Database is empty</h2>
{{else}}

    <ul>
    <li>Name: {{name}}</li>
    <li>Type: {{type}}</li>
    <li>Picture Name: {{picName}}</li>
    <li>Director: {{director}}</li>
    <li>Box Office (S$): {{boxOff}}</li>
    <li>Description: {{description}}</li>
    </ul>
{{/if}}